/include
/bin
/lib
/share
/lib64
/__pycache__
pyvenv.cfg
/cpu_new
/gpu_new
/gpu_model_minmax
/gpu_model_unscaled
.DS_Store
/.vscode/
/DecodedBytecode.class
"../\\"
/computeNesMap.cl
/dataset_construction/
/docker_comm_test.py
/input_nes.json
/input_nes_cpp.json
/layers/__pycache__/Graph_transformer_layer.cpython-310.pyc
/layers/__pycache__/Graph_transformer_layer.cpython-311.pyc
/optimizer/__pycache__/Heft.cpython-310.pyc
/optimizer/__pycache__/Heft.cpython-311.pyc
/optimizer/__pycache__/__init__.cpython-310.pyc
/optimizer/__pycache__/__init__.cpython-311.pyc
/optimizer/__pycache__/utils.cpython-310.pyc
/optimizer/__pycache__/utils.cpython-311.pyc
/payload.json
/payload_copy.json
/received_from_docker.json
/tests/input_nes_22.json
/tests/payload_copy.json
/tests/received_vik.json
/tests/test_docker_comm.py
/to_llvm.py
experiments/
